
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 650px;
}

.title-text {
    display: block;
    text-align: center;
    font-size: 50px;
    padding: 10px 0;
}

.music-control {
    position: relative;
    font-size: 25px;
}

.music-control:hover {
    cursor: pointer;
    color: salmon;
}

.mute {
    position: absolute;
    right: 10px;
    top: 30px;
}

.unmute {
    position: absolute;
    right: 10px;
    top: 30px;
}

.footer {
    width: 650px;
    height: 120px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.instructions > * {
    font-family: monospace;
    font-size: 16px;
    padding: 3px 0;
}

.instructions > ul {
    padding-left: 20px;
}

.instructions > ul > li {
    padding-bottom: 5px;
}

.links {
    display: flex;
    flex-direction: row;
    z-index: 10;
}

.fab, .fa-user-circle {
    font-size: 60px;
    padding-left: 15px;
}

.fab:hover {
    cursor: pointer;
    color: salmon;
    z-index: 10;
}

.fa-user-circle:hover {
    cursor: pointer;
    color: salmon;
    z-index: 10;
}