* {
    padding: 0;
    margin: 0;
}

canvas {
    background-image: url('../assets/images/flat-night.png');
    background-size: 970px;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}
